.idea
.DS_Store
node_modules
npm-debug.log
typings/**/*
!typings/sv-testing.d.ts
*.js.map
test/**/*.spec.js
test/mock/*.js
src/**/*.js

# Ignore generated interfaces, empty files
dist/lib/**/I[A-Z][a-zA-Z0-9.]*.js
