.idea
.DS_Store
node_modules
npm-debug.log
typings/**/*
!typings/sv-testing.d.ts
*.js.map
tests/**/*.spec.js
tests/mock/
src/**/*.js

# Ignore generated interfaces, empty files
dist/lib/**/I[A-Z]*.js
